body {
    margin: 0;
    padding: 0;
    
}



header {
    background: rgb(42, 245, 2);
    padding: 30px;
    border-radius: 6px;
    font-weight: 700;
    
}

nav {
    background: rgb(1, 116, 1);
    padding: 15px;
    color: white;
    border-radius: 6px;
}


section {
    display: flex;
    flex-direction: row;

}

.Aside1{
    background: rgb(241, 158, 3);
    text-align: center;
    color: white;
    border-radius: 6px;
    width: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
   
    
}


.Aside2{
    background: rgb(241, 158, 3);
    text-align: center;
    color: white;
    border-radius: 6px;
    width: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    
   


}

.Main_container {
    display: flex;
    flex-direction:column;
    background: red;
    border-radius: 6px;
    color: white;
    padding: 50px;
    height: 70vh;
    width: 50%;
    margin: 50px;
    font-weight: 800;

}

article{
    color: black;
    background: white;
    border-radius: 6px;
    padding: 30px;

    flex-direction:column;
    margin-top: 100px;
    font-weight: 700;
}



footer {    
    background: rgb(158, 21, 221);
    border-radius: 6px;
    color: white;
    padding: 50px;
}